@use "global" as *;

.p-bg--message {
  background: url(../images/common/message_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: rem(20);
  padding-right: rem(20);
}
.p-bg--interview {
  background: url(../images/common/bg_interview.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: rem(20);
  padding-right: rem(20);
}
.p-bg--social {
  background: url(../images/common/bg_social.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(40);
}
.p-bg--growth {
  background: url(../images/common/bg_growth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(40);
}