@use "global" as *;

.p-interview {
  padding-top: rem(360);
  padding-bottom: rem(180);
}

.p-interview__content {
}

.p-interview__title {
  text-align: center;
}

.p-interview__lists {
  margin-top: rem(64);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(40);
}

.p-interview__list {
}

.p-interview__link {
  display: block;
  padding: rem(13);
  background: #fff;
  border-radius: rem(10);
  position: relative;
}

.p-interview__img {
}
.p-interview__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  border-radius: rem(10);
}

.p-interview__detail {
  position: absolute;
  bottom: rem(40);
  left: rem(40);
  z-index: 1;
}

.p-interview__year {
  color: #7cf513;
  font-size: rem(15);
  font-weight: 500;
  letter-spacing: 0.1em;
}

.p-interview__row {
  margin-top: rem(12);
  display: flex;
  align-items: center;
  gap: rem(20);
}

.p-interview__name {
  font-size: rem(31);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;
}

.p-interview__name-en {
  font-size: rem(12);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: $second-font-family;
}

.p-interview__occupation {
  margin-top: rem(24);
  font-size: rem(21);
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
}
.p-interview__bottom-row {
  margin-top: rem(160);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(160);
  max-width: rem(900);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-interview__single {
  margin-top: rem(60);
}