@use "global" as *;

.p-salary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(20);
}

.p-salary__img--center {
  margin-top: rem(48);
}
.p-salary__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
