@use "global" as *;

.p-support {
  background: #000;
  border: 2px solid #7cf513;
  border-radius: rem(10);
  padding-top: rem(50);
  padding-bottom: rem(50);
  padding-left: rem(60);
  padding-right: rem(60);
  display: flex;
  gap: rem(212);
}

.p-support__lists {
}

.p-support__list {
  font-size: rem(40);
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: calc(64 / 40);
  position: relative;
  padding-left: rem(50);
}
.p-support__list::before {
  position: absolute;
  content: "";
  background: url(../images/common/support_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(40);
  height: rem(40);
  top: rem(8);
  left: 0;
}

.p-support__right {
  max-width: rem(387);
  width: 100%;
  border-left: 1px solid #7CF513;
  padding-left: rem(50);
}

.p-support__title {
  font-size: rem(36);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #7cf513;
  padding-bottom: rem(20);
  position: relative;
}
.p-support__title::before {
  position: absolute;
  content: "";
  background: url(../images/common/support_title_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  aspect-ratio: 327 / 20;
  object-fit: cover;
}

.p-support__small {
  font-size: rem(16);
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  margin-top: rem(12);
}

.p-support__attention {
  margin-top: rem(22);
}

.p-support__attention-text {
  font-size: rem(20);
  color: #fff;
  letter-spacing: 0.1em;
  line-height: calc(29 / 20);
  font-weight: 500;
}
